*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Lexend Deca', sans-serif;
    
}
.flexbox{
    /* background-color: hsl(0, 0%, 95%); */
    display: flex; 
    align-items: center;
    margin: 200px;
    font-size: 15px;
    justify-content: center;

}

main{
    display: flex;
    text-align: left;
    height: auto;
}
@media only screen and (max-width: 600px) {
    main {
      display: flex;
      flex-direction: column;
      height: auto;
      
    }
  }
  h1{
    text-transform: uppercase;
    padding-bottom: 1em;
    padding-top: 2vh;
}
p{
    color: hsla(0, 0%, 100%, 0.75);
    padding-bottom: 3em;
    width: 150px;
    line-height: 3vh;
}
.sedans{
background-color: hsl(31, 77%, 52%);
color:  hsl(0, 0%, 95%);
padding: 30px;
border-top-left-radius: 10px;
border-bottom-left-radius: 10px;
}
.suv{
background-color: hsl(184, 100%, 22%);
color:  hsl(0, 0%, 95%);
padding: 30px;

}
.luxury{
     background-color:  hsl(179, 100%, 13%);
    color:  hsl(0, 0%, 95%);
    padding: 30px;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
}
button{
    color: hsla(0, 0%, 100%, 0.75);
    background-color: transparent;
    border: 1px solid #ffffff;
    border-radius: 20px;
    padding: 10px 15px;
    cursor: pointer;
    font-size: 10px;
    margin-bottom: 2em;
}
.sedans button:hover{
    background-color:hsl(0, 0%, 95%) ;
    color: hsl(31, 77%, 52%);

}
.suv button:hover{
    background-color:hsl(0, 0%, 95%) ;
    color: hsl(184, 100%, 22%);
}
.luxury button:hover{
    background-color:hsl(0, 0%, 95%) ;
color: hsl(179, 100%, 13%);
}

/*GRIDBOX*/
.gridbox{
    margin: 100px;
    /* background-color: blueviolet; */
    display: grid;
    grid-template-columns:auto auto auto  ;
    grid-gap: 2vw;
    text-align: center;
}

.gridbox .div1{
    background-color: rgb(245, 14, 14);
    padding: 50px;
    grid-column: 1/3;
    /* grid-row: 3/3; */
}
.div2{
    background-color: orange;
    padding: 50px;
     /* grid-column: 3/4; */
    /* grid-row: 2;  */
}
.div3{
    background-color: rgb(94, 145, 18);
    padding: 50px;
    grid-column: 1/2;
    grid-row: 2/4;
    /* height: 50px; */
}
.div4{
    background-color: rgb(59, 197, 231);
    padding: 25px;
    grid-column: 2/4;
    /* height: 50px; */ 
    /* grid-row: 1/3; */
}
.div5{
    background-color: blue;
    padding: 25px;
    /* height: 50px; */
    grid-column:2/4;
    /* grid-row: 1;  */
} 